.list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item:hover {
    background-color: rgb(62, 33, 137);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.custom-navbar {
    background-color: rgb(88, 121, 90);
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}

.pokemon-icon {
    width: 100px;
    height: 100px;
    text-align: center;
}

.pokemon-h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
}